*{
    margin: 0;
    padding: 0;
    max-width: 1440px;
}
body{
    background: #000;
    color: white;
}
/* Navbar */
.navbar{
    display: flex;
    justify-content: space-around;
}
.navbar > div >ul{
    display: flex;
}
.navbar > div >ul >li{
    list-style-type: none;
}

main{
    display: flex;
    align-items: center;
}

/* cards */
.cards{
    display: flex;
    justify-content: space-around;  
}
.card-details{
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 10px;
    backdrop-filter: blur(20px);
    width: 100%;
}
.card{
    height: 300px;
    width: 280px;
    display: flex;
    align-items: flex-end;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -12rem 0;
    cursor: pointer;
    transition: 0.3s;
    background-position: -12rem 0;
}
.card-1{
    background-image: url("./Assets/Photos/image\ 2.png");
}
.card-2{
    background-image: url("./Assets/Photos/image\ 3.png");
    background-position: -6rem 0 !important; 
}
.card-3{
    background-image: url("./Assets/Photos/image\ 4.png");
    background-position: -150px !important; 

}
.card-4{
    background-image: url("./Assets/Photos/Rectangle\ 56.png");
}
.card:hover{
    transform: scale(1.1);
}
