*{
    margin: 0;
    padding: 0;
    /* max-width: 1440px; */
    font-family: 'Poppins', sans-serif;
}
/* Hero and nav section */
.hero-nav-section{
    background-image: url("./Assets/Photos/futuristic-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    /* background-color: #000; */
    color: white;
}
/* Navbar */
.navbar{
    display: flex;
    justify-content: space-around;
    padding-top:30px;
}
.navbar > div >ul{
    display: flex;
}
.navbar > div >ul >li{
    list-style-type: none;
    padding: 20px;
}
.nav-signin-button{
    height: 50px;
    width: 100px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
.nav-signin-button:hover{
    background-color:#F4694C;
    color: #fff ;
}
.nav-signup-button{
    height: 50px;
    width: 120px;
    background-color: #F4694C;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
.nav-signup-button:hover{
    background-color: #fff;
    color: #F4694C;
}
/* Main Section */
main{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    align-items: center;
}
.hero-left{
    margin-left: 8%;
    margin-top: 8%;
}
.hero-left-heading{
    font-size: 50px;
    margin-top: 10px;
}
.hero-left-desc{
    margin-top: 20px;
}
.hero-left-gets-button{
    margin-top: 50px;
    height: 50px;
    width: 150px;
    background-color:#F4694C;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-right: 20px;
}
.hero-left-gets-button:hover{
    background-color:white;
    color: #F4694C;
}
.hero-left-learn-button{
    margin-top: 50px;
    height: 50px;
    width: 150px;
    background:none;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.hero-left-learn-button:hover{
    background-color:#F4694C;
    color:white;
    border: none;
}


.hero-right{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    margin-right: 15%;
}
.play-button{
    margin-top: 100px;
}
.hero-right-bottom{
    display: flex;
    position: relative;
    top: 150px;
}
.hero-right-desc{
    font-size: 25px;
}
.right-arrow{
    position: relative;
    top: 80px;
    left: 100px;
}

/* cards */

.cards-section{
    margin-top: 100px;
    padding-bottom: 100px;
}
.cards-section >h1{
    font-size: 40px;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
    margin-top: 40px; 
}
.card-details{
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 15px;
    backdrop-filter: blur(20px);
    width: 100%;
}
.card-details >div >p{
    padding-bottom: 10px;
}
.card-details >div >p:nth-child(2){
    color: #8A8984;
    font-size: 15px;
}
.card{
    margin: 20px;
    height: 300px;
    width: 280px;
    display: flex;
    align-items: flex-end;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -12rem 0;
    cursor: pointer;
    transition: 0.3s;
    background-position: -12rem 0;
}
.card-1{
    background-image: url("./Assets/Photos/image\ 2.png");
}
.card-3{
    background-image: url("./Assets/Photos/image\ 3.png");
    background-position: -6rem 0 !important; 
}
.card-2{
    background-image: url("./Assets/Photos/image\ 4.png");
    background-position: -150px !important; 

}
.card-4{
    background-image: url("./Assets/Photos/Rectangle\ 56.png");
}
.card:hover{
    transform: scale(1.1);
}
.card-button{
    height: 35px;
    width: 90px;
    background-color:#F4694C;
    border: none;
    color: white;
}
.card-button:hover{
    background-color: white;
    color: #F4694C;
    
}

/* Adrenaline section */
.adr-section{
    display: flex;
    justify-content: center;
}
.adr-section-left{
    width: 50%;
    
}
.adr-section-left>img{  
    width:550px;
    height: 350px;
    /* height: 00px; */
    margin-left: 110px;
}
.adr-section-right{
    width: 50%;
    padding-bottom: 100px;
}
.adr-section-right>h1{
    font-size: 50px;
}
.adr-section-right>div>p{
    font-size: 15px;
    color: #808080;
}
.adr-section-right>div{
    margin-top: 20px;
}
.adr-section-btn{
    margin-top: 50px;
    height: 50px;
    width: 150px;
    background-color:#F4694C;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.exp-btn{
    margin-right: 10px;
}

/* Game recommendation section */

.game-recs-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    padding-bottom: 50px;
}
.game-recs-top >div>h1{
    font-size: 40px;
}
.game-recs-img{
    margin-right: 100px;
}
.game-recs-img>div{
    display: inline-block;
}
.game-recs-img >div:first-child{
    height: 60px;
    width: 60px;
    text-align: center;
    margin-right: 15px;
    background-color:#FDE1DB;
}
.arw-left{
    position: relative;
    top: 20px;
}
.arw-right{
    position: relative;
    top: 20px;
}
.game-recs-img >div:nth-child(2){
    height: 60px;
    width: 60px;
    text-align: center;
    background-color:#F4694C;
}
/* Bottom cards */
.game-rec-section-bottom{
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
}
.game-rec-section-bottom-card{
    display: flex;
    justify-content: space-around;
}
.img-part>div{
    background-size: cover;
    background-position: center;
    height: 275px;
    width: 230px;
}
.img1{
    background-image: url("/Assets/Photos/Rectangle\ 75.png");
}
.img2{
    background-image: url("/Assets/Photos/Rectangle\ 76.png");
}
.img3{
    background-image: url("/Assets/Photos/Rectangle\ 77.png");
}
.img4{
    background-image: url("/Assets/Photos/Rectangle\ 78.png");
}
.text-part{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 30px;
}
.text-part>p:nth-child(2){
    color: #F4694C;
}
.text-part>p:nth-child(3){
    color: #808080;
}
.text-part >button{
    height: 50px;
    width: 150px;
    background-color:#F4694C;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}