body{
    background-color: black;
    color: white;
}
/* Navbar section */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.nav-list >ul {
    display: flex;
}
.nav-list > ul >li{
    padding-right: 30px;
}
.nav-login-button{
    height: 50px;
    width: 110px;
    border-radius: 50px;
    border: none;
    background-color: #0C8BFD;
    font-size: 18px;
}

/* Hero section */
.hero-section{
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
}
.hero-left{
    width: 50%;
}
.hero-heading{
    font-size: 100px;
    margin-bottom: 50px;
}
#hero-cheapest{
    color:#0C8BFD;
}
.hero-desc{
    font-size: 25px;
    margin-bottom: 50px;
}
.hero-gs-button{
    height: 50px;
    width: 200px;
    border-radius: 50px;
    border: none;
    background-color:#0C8BFD;
    font-size: 18px;
}
.hero-tsf-button{
    height: 50px;
    width: 200px;
    border-radius: 50px;
    background-color:#0C8BFD;
    font-size: 18px;
    border: none;
}

/* 5 logo section */
.logo-5 > img{
    padding-right: 10%;
    background:none;
}
.logo-5{
    display: flex;
    align-items: center;
    background-color: #1D1C1C;
    height: 120px;
    padding-left: 20%;
}

/* services section */
.services-section{
    background-color: #fff;
    color: black;
}
.services-heading{
    text-align: center;
    font-size: 60px;
    padding-top: 100px;
    font-weight: 900;
}
.services-desc{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    color: #969595;
}
.cards{
    margin-bottom: 100px;
    display: flex;
    text-align: center;
    margin: 10% 10%;
}
.card1{
    border: 2px solid rgb(138, 138, 138);
    border-radius: 50px;
    height:350px;
    margin-right: 4%;
    width: 40%;
}
.card1>img{
    padding-top: 20px;
}
.card1-heading{
    padding-top: 40px;
    font-size: 30px;
    font-weight: bold;
}
.card1-desc{
    font-size: 20px;
    padding: 5%;
    color: #777777;
    line-height: 28px;
}
.card2{
    color: white;
    position: relative;
    bottom: 50px;
    border: 2px solid rgb(138, 138, 138);
    border-radius: 50px;
    height:350px;
    margin-right: 4%;
    background-color: black;
    width: 40%;
    box-shadow: 0px 20px 10px grey;
}
.card2>img{
    padding-top: 20px;
}
.card2-heading{
    padding-top: 40px;
    font-size: 30px;
    font-weight: bold;
}
.card2-desc{
    font-size: 20px;
    padding: 5%;
    color: #777777;
    font-weight: 500;
    line-height: 28px;
}
.card3{
    border: 2px solid rgb(138, 138, 138);
    border-radius: 50px;
    height:350px;
    margin-right: 4%;
    width: 40%;
}
.card3>img{
    padding-top: 20px;
}
.card3-heading{
    padding-top: 40px;
    font-size: 30px;
    font-weight: bold;
}
.card3-desc{
    color: #777777;
    font-size: 20px;
    padding: 5%;
    line-height: 28px;
}